<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <style>
    .mdl-layout {
      align-items: center;
      justify-content: center;
    }
    .mdl-layout__content {
      padding: 24px;
      flex: none;
    }
    .centered-form {
      width: 100%;
      max-width: 320px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-color--grey-100">
  <main class="mdl-layout__content">
    <div class="mdl-card mdl-shadow--2dp centered-form">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Logue-se</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <form th:action="@{/login}" method="post">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="username" name="username">
            <label class="mdl-textfield__label" for="username">Email</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" id="password" name="password">
            <label class="mdl-textfield__label" for="password">Senha</label>
          </div>
          <div style="text-align: center; color: red;" th:if="${errorMessage != null}" th:text="${errorMessage}"></div>
          <div class="mdl-card__actions mdl-card--border">
            <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Entrar</button>
          </div>
        </form>
        <p>Não tem uma conta? <a th:href="@{/registro}">Registre-se aqui</a></p>
      </div>
    </div>
  </main>
</div>
</body>
</html>
